<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Wurfl Cache Tests">
            <directory>./WurflCache/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../library/WurflCache</directory>
        </whitelist>
    </filter>
</phpunit>